* We have dataset of Twitter tweets from `@dog_rates` also known as `WeRateDogs`.
* Rating has denominator of 10 and numerator is more than 10.
* We have a information about rating, dog names and dog stages
    - Dog stages can be, `doggo`: A big pupper, usually older `pupper`: Small doggo, usually younger. `puppo`: transition phase between pupper and doggo. `blep`: Subtle act that occurs without the knowledge of the one who slips , `snoot`: Nose of dog , `floof`: any dog with excess fur

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import requests
import os
import glob
%matplotlib inline

# Gather data

In [2]:
dog_tweets = pd.read_csv("data/twitter-archive-enhanced.csv")

In [3]:
dog_tweets.shape

(2356, 17)

In [4]:
dog_tweets

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Gal√°pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Download and save image prediction file

In [5]:
predictions = requests.request('GET',"https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv")

In [13]:
cur_dir = os.getcwd()

In [14]:
os.chdir("./data")

In [16]:
with open("image_prediction.tsv", 'w') as f:
    f.write(predictions.text)

In [17]:
dog_prediction = pd.read_csv("image_prediction.tsv", sep='\t')

In [18]:
dog_prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [19]:
dog_prediction.shape

(2075, 12)

In [20]:
os.chdir(cur_dir)

### Get retweet count and

In [22]:
import tweepy
consumer_key = 'ZBpgYUPQN2KDLBp0LmxbfRtuO'
consumer_secret = '5tByljB0LthtikqysqMgsE5baUojk9srVN16R9YjXv2cLa9iCk'
access_token = '2816475186-7lgYd15gwDmuj9IuR8cxEXZqObgAeaWkdk6i9EH'
access_secret = 'p7USFEkaweGErcwDWYnVXxQnqk42on672d5nmMJ2z1Vu1'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
os.chdir("./data/tweet_json")

In [60]:
for tweet_id in dog_tweets.tweet_id:
    try:
        tweet = api.get_status(tweet_id, tweet_mode="extended")
        with open(str(tweet_id)+"_json.json", "w") as f:
            f.write(json.dumps(tweet._json)
    except tweepy.TweepError:
        pass

Rate limit reached. Sleeping for: 722

In [42]:
os.chdir(cur_dir)

In [43]:
import glob

In [44]:
os.chdir("./data")

In [45]:
with open("retweet_likes.csv", 'a+') as file:
    for fileName in glob.glob("tweet_json/*_json.json"):
        with open(fileName, 'r') as fd:
            json_data = json.loads(fd.read())
            file.write(json_data["id_str"] + "," + str(json_data["retweet_count"]) + "," + 
                       str(json_data["favorite_count"]) + "\n")

In [46]:
retweet_like = pd.read_csv("retweet_likes.csv", header=None)

In [47]:
retweet_like.columns = ["tweet_id", "retweet_count", "favorite_count"]
retweet_like.head()

             tweet_id  retweet_count  favorite_count
0  666020888022790149            478            2477
1  666029285002620928             45             122
2  666033412701032449             43             119
3  666044226329800704            135             280
4  666049248165822465             41             101

In [48]:
retweet_like.shape

(2330, 3)

In [49]:
os.chdir(cur_dir)

# Assess Data

#### Is there any duplicate tweet data?

In [51]:
retweet_like.tweet_id.duplicated().sum()

0

In [52]:
dog_prediction.tweet_id.duplicated().sum()

0

In [53]:
dog_tweets.tweet_id.duplicated().sum()

0

#### Check for data types

In [54]:
dog_tweets.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [55]:
dog_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [56]:
retweet_like.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330 entries, 0 to 2329
Data columns (total 3 columns):
tweet_id          2330 non-null int64
retweet_count     2330 non-null int64
favorite_count    2330 non-null int64
dtypes: int64(3)
memory usage: 54.7 KB

In [57]:
dog_prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [58]:
dog_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

* `timestamp` and `retweeted_status_timestamp` data type should be datetime, not an object.

#### Check for null values

In [59]:
dog_tweets.shape

(2356, 17)

In [60]:
dog_tweets.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

* Majority of data in columns `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp` are missing, so best bet would be to drop those columns.

In [61]:
dog_tweets.doggo.value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [62]:
dog_tweets.floofer.value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [63]:
dog_tweets.pupper.value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [64]:
dog_tweets.puppo.value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

* `name`, `doggo`, `floofer`, `pupper`, `puppo` has None denoted as string, so which avoid us from finding NaN values directly

In [65]:
retweet_like.isna().sum()

tweet_id          0
retweet_count     0
favorite_count    0
dtype: int64

In [66]:
dog_tweets.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [67]:
dog_tweets[dog_tweets.rating_denominator != 10]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582...,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,None,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None

In [68]:
dog_tweets.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

* We also have to handle `rating_numerator` values less than 10 and some extremes. Also `rating_denominator` with values other than 10.

In [69]:
dog_tweets.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

* We can clean `source` columns to designate proper source of the tweet

In [70]:
(dog_tweets.name == 'None').sum()

745

In [71]:
dog_tweets[(dog_tweets.doggo == 'None') & (dog_tweets.floofer == 'None') & 
           (dog_tweets.pupper == 'None') & (dog_tweets.puppo == 'None')].shape

(1976, 17)

* For most of the records, we do not have available entries.

* Also, we have to melt dog types to single column

In [72]:
mask = dog_tweets[['doggo', 'pupper', 'floofer', 'puppo']] != 'None'

In [73]:
mask = mask.sum(axis = 1)

In [74]:
dog_tweets[mask > 1]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
191,855851453814013952,NaN,NaN,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/855851453...,13,10,None,doggo,None,None,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None
460,817777686764523521,NaN,NaN,2017-01-07 16:59:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Dido. She's playing the lead role in ""...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/817777686...,13,10,Dido,doggo,None,pupper,None
531,808106460588765185,NaN,NaN,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have Burke (pupper) and Dexter (doggo)...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/808106460...,12,10,None,doggo,None,pupper,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
575,801115127852503040,NaN,NaN,2016-11-22 17:28:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bones. He's being haunted by another d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/801115127...,12,10,Bones,doggo,None,pupper,None
705,785639753186217984,NaN,NaN,2016-10-11 00:34:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pinot. He's a sophisticated doggo. You...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/785639753...,10,10,Pinot,doggo,None,pupper,None
733,781308096455073793,NaN,NaN,2016-09-29 01:42:20 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...","Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",NaN,NaN,NaN,https://vine.co/v/5rgu2Law2ut,12,10,None,doggo,None,pupper,None
778,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: Like father (doggo), like son (...",7.331095e+17,4.196984e+09,2016-05-19 01:38:16 +0000,https://twitter.com/dog_rates/status/733109485...,12,10,None,doggo,None,pupper,None
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is just downright precious...,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
889,759793422261743616,NaN,NaN,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Meet Maggie &amp; Lila. Maggie is the doggo, L...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/759793422...,12,10,Maggie,doggo,None,pupper,None
956,751583847268179968,NaN,NaN,2016-07-09 01:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please stop sending it pictures that don't eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751583847...,5,10,None,doggo,None,pupper,None
1063,741067306818797568,NaN,NaN,2016-06-10 00:39:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is just downright precious af. 12/10 for ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
1113,733109485275860992,NaN,NaN,2016-05-19 01:38:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like father (doggo), like son (pupper). Both 1...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/733109485...,12,10,None,doggo,None,pupper,None

* These entries are having multiple dog age type. We will get rid of it, so that we can easily melt the columns

#### Check `name` columns values in `dog_tweets` dataframe

In [109]:
pd.options.display.max_rows=1000

In [174]:
dog_tweets.name.value_counts()

None              745
a                  55
Charlie            12
Cooper             11
Lucy               11
Oliver             11
Penny              10
Tucker             10
Lola               10
Winston             9
Bo                  9
the                 8
Sadie               8
Buddy               7
Daisy               7
Toby                7
an                  7
Bailey              7
Scout               6
Stanley             6
Jack                6
Dave                6
Milo                6
Koda                6
Jax                 6
Rusty               6
Bella               6
Oscar               6
Leo                 6
Louis               5
very                5
Alfie               5
Larry               5
George              5
Oakley              5
Gus                 5
Chester             5
Bentley             5
Sunny               5
Sammy               5
Finn                5
Phil                5
Jerry               4
Archie              4
Reginald            4
Maggie              4
Jeffrey             4
Maddie              4
Sampson             4
Gerald              4
just                4
one                 4
Maximus             4
Winnie              4
Shadow              4
Cassie              4
Reggie              4
Riley               4
Carl                4
Loki                4
Hank                4
Luna                4
Boomer              4
Walter              4
Beau                4
Clark               4
Bear                4
Duke                4
Sophie              4
Clarence            4
Dexter              4
Gary                4
Moose               4
Ruby                4
quite               4
Chip                4
Bruce               4
Derek               4
Brody               4
Scooter             4
Nala                3
Lily                3
Vincent             3
Gizmo               3
Sebastian           3
Wallace             3
Malcolm             3
Steven              3
Zoey                3
Mia                 3
Colby               3
Kyle                3
Doug                3
Louie               3
Wilson              3
Max                 3
Ted                 3
Olive               3
Zeke                3
Samson              3
Arnie               3
Peaches             3
Otis                3
Jimothy             3
Rosie               3
Earl                3
Rory                3
Coco                3
Lorenzo             3
Wyatt               3
Frankie             3
Ellie               3
Calvin              3
Waffles             3
Klevin              3
Reese               3
Paisley             3
Penelope            2
getting             2
Rocco               2
Oshie               2
Lilly               2
Jesse               2
Kirby               2
Dawn                2
Terry               2
Hobbes              2
Fizz                2
Levi                2
Cash                2
Kenneth             2
Carly               2
Pablo               2
Terrance            2
Sierra              2
Jimison             2
Pippa               2
Cali                2
Bob                 2
Percy               2
Betty               2
Hunter              2
Rocky               2
Eve                 2
Bubbles             2
Yogi                2
Patrick             2
Panda               2
Opal                2
Linda               2
Griffin             2
Happy               2
Anakin              2
Chuckles            2
Keurig              2
Odie                2
Pipsy               2
Albus               2
Sugar               2
Juno                2
not                 2
Calbert             2
Abby                2
Benji               2
Misty               2
Fl√°vio              2
Chipson             2
Trooper             2
Butter              2
Stubert             2
Paull               2
Eli                 2
Quinn               2
Moreton             2
Davey               2
Sarge               2
Atlas               2
Balto               2
Lenny               2
Phred               2
Alice               2
Dakota              2
Fiona               2
Ash                 2
Sansa               2
Franklin            2
Kreggory            2
Cody                2
Phineas             2
Canela              2
mad                 2
Solomon             2
Jiminy              2
Crystal             2
Rizzy               2
Smokey              2
Rufus               2
Titan               2
Piper               2
Kilo                2
Harold              2
Klein               2
Nollie              2
Bungalo             2
Bell                2
Seamus              2
Tyrone              2
Benedict            2
Astrid              2
Harper              2
Mattie              2
Logan               2
Layla               2
Sandy               2
Frank               2
Brad                2
Belle               2
Charles             2
Olivia              2
Gabe                2
CeCe                2
Tyr                 2
Indie               2
Jamesy              2
Chelsea             2
Romeo               2
Hammond             2
Stephan             2
Kenny               2
Pickles             2
Shaggy              2
Herm                2
Axel                2
Timison             2
Moe                 2
Wally               2
Django              2
Kyro                2
Dash                2
Hurley              2
Herald              2
Albert              2
Ken                 2
Lennon              2
Bisquick            2
Fred                2
Roosevelt           2
Gromit              2
Churlie             2
Chompsky            2
Baxter              2
Elliot              2
Philbert            2
Finley              2
actually            2
Jeph                2
Olivi√©r             2
Nelly               2
Atticus             2
Blitz               2
Herschel            2
Sam                 2
Cupcake             2
Kevin               2
Lou                 2
Thumas              2
Raymond             2
Aspen               2
Chet                2
Hercules            2
Remington           2
Leela               2
Coops               2
Emmy                2
Lincoln             2
Ava                 2
Ozzy                2
Neptune             2
Rubio               2
Marley              2
Doc                 2
Keith               2
Bernie              2
Luca                2
Watson              2
Meyer               2
Baloo               2
Gidget              2
Maxaroni            2
Curtis              2
Jackson             2
Theodore            2
Mister              2
Kreg                2
Ollie               2
Chuq                1
Shakespeare         1
Crawford            1
Lassie              1
Zeek                1
Dudley              1
infuriating         1
Ulysses             1
Kayla               1
Emanuel             1
Ike                 1
Jay                 1
Alexander           1
Kara                1
Crouton             1
Nida                1
Am√©lie              1
Ralphie             1
Dotsy               1
Henry               1
Skittles            1
Maks                1
Kanu                1
Sephie              1
DayZ                1
Harnold             1
Jim                 1
Ivar                1
Skye                1
Humphrey            1
Charleson           1
Dug                 1
Tino                1
Emmie               1
Huck                1
Philippe            1
Schnozz             1
Autumn              1
Cermet              1
Stewie              1
Katie               1
Gilbert             1
Ben                 1
Mitch               1
Tilly               1
Ralphson            1
Goose               1
Billl               1
Brian               1
Huxley              1
Traviss             1
Ester               1
Sobe                1
Smiley              1
Al                  1
Mona                1
Koko                1
Beckham             1
Stormy              1
Chubbs              1
O                   1
Darby               1
Mike                1
Ralphus             1
Finnegus            1
Anna                1
Nigel               1
Tebow               1
Carper              1
Snicku              1
Luther              1
Joshwa              1
Ralpher             1
Callie              1
Kaia                1
Shooter             1
Corey               1
Tuck                1
Brooks              1
Kota                1
Rodney              1
Malikai             1
Coleman             1
Tug                 1
Jiminus             1
Furzey              1
Venti               1
Kody                1
Rudy                1
Julius              1
Snoopy              1
Lulu                1
Rose                1
Ashleigh            1
Raphael             1
Karl                1
Nimbus              1
Tater               1
Tedrick             1
Goliath             1
Swagger             1
Todo                1
Jeremy              1
this                1
Norman              1
Lolo                1
Clarkus             1
Glacier             1
Dixie               1
Ole                 1
Heinrich            1
Biden               1
Binky               1
Peanut              1
Rolf                1
Tess                1
Aqua                1
Arlen               1
Bloo                1
Lilah               1
Diogi               1
Jarod               1
Snickers            1
officially          1
Rhino               1
Iggy                1
Lugan               1
Kellogg             1
Moofasa             1
all                 1
Rooney              1
River               1
Rorie               1
Kial                1
Flurpson            1
Halo                1
Crumpet             1
Filup               1
Tedders             1
Bert                1
Jessifer            1
Bradley             1
Ruffles             1
Aldrick             1
Banjo               1
Newt                1
Shelby              1
Kulet               1
Mack                1
Sailor              1
Andru               1
Linus               1
Chuck               1
Damon               1
Fillup              1
Thor                1
Hamrick             1
Chaz                1
Jareld              1
Simba               1
Arnold              1
Jockson             1
Jersey              1
Fynn                1
Bluebert            1
Derby               1
Mason               1
Millie              1
Cannon              1
Zoe                 1
Puff                1
Carbon              1
Grizz               1
Ralph√©              1
Lili                1
Darrel              1
Dot                 1
Nico                1
Cora                1
Crimson             1
Bronte              1
Bobbay              1
Jerome              1
Farfle              1
Enchilada           1
Chesney             1
Cleopatricia        1
Edd                 1
Edmund              1
Bubba               1
Eleanor             1
Trevith             1
Marvin              1
Maya                1
General             1
Sunshine            1
Ralf                1
Mimosa              1
Dylan               1
Rover               1
Mo                  1
Willie              1
Kallie              1
Dobby               1
Andy                1
Marty               1
Fwed                1
Vinnie              1
Lilli               1
Buddah              1
Sailer              1
Reptar              1
Tonks               1
Brockly             1
Lucia               1
Rascal              1
Shiloh              1
Barney              1
Shikha              1
Livvie              1
Jackie              1
Monkey              1
Doobert             1
Mac                 1
Flash               1
Nugget              1
Alejandro           1
Bode                1
Chadrick            1
Ozzie               1
Clyde               1
Striker             1
Obi                 1
Trip                1
Cedrick             1
Lenox               1
Tito                1
Monty               1
Baron               1
Monster             1
Cheryl              1
Skittle             1
Timofy              1
Sky                 1
Jazz                1
Blu                 1
Antony              1
Harrison            1
Jennifur            1
Holly               1
Sojourner           1
Rodman              1
my                  1
light               1
Poppy               1
Strudel             1
Zeus                1
Fletcher            1
Staniel             1
Bowie               1
Dido                1
Joey                1
Pawnd               1
Zuzu                1
Willy               1
Ginger              1
Howie               1
Horace              1
Carter              1
Fr√∂nq               1
Mark                1
Margo               1
Dwight              1
Opie                1
Brandy              1
Cupid               1
Siba                1
Bookstore           1
Pumpkin             1
Steve               1
Dallas              1
Caryl               1
Bruiser             1
Vixen               1
Ralph               1
Tayzie              1
Liam                1
Sid                 1
Sweet               1
Grizzie             1
Pepper              1
JD                  1
Asher               1
Obie                1
Bobby               1
Chevy               1
Bobb                1
Barry               1
Cilantro            1
Napolean            1
Rumble              1
Dook                1
Clybe               1
Rufio               1
Dex                 1
Tripp               1
Hector              1
Miley               1
Jessiga             1
Hazel               1
Storkson            1
Blanket             1
Travis              1
Adele               1
Rambo               1
such                1
Beebop              1
Ace                 1
Grizzwald           1
Yukon               1
Wafer               1
Spanky              1
Rueben              1
Laela               1
by                  1
Pupcasso            1
Ricky               1
Leonard             1
Jaspers             1
Mutt                1
Mollie              1
Pherb               1
Jed                 1
Charl               1
Chesterson          1
Tessa               1
Gin                 1
Tobi                1
Stephanus           1
Miguel              1
Odin                1
Clarq               1
Lipton              1
Ebby                1
Jaycob              1
Erik                1
Orion               1
Iroh                1
Julio               1
Grady               1
Noah                1
Tyrus               1
Kawhi               1
Georgie             1
Torque              1
Lillie              1
Tom                 1
Gert                1
Christoper          1
Berb                1
Rey                 1
Edgar               1
Arlo                1
Reagan              1
Godi                1
Stuart              1
Pancake             1
Butters             1
Genevieve           1
Brat                1
Samsom              1
Kona                1
Bilbo               1
Birf                1
Tuco                1
Sweets              1
Hermione            1
Sandra              1
Tiger               1
Creg                1
old                 1
Marq                1
Dietrich            1
Amy                 1
DonDon              1
Harvey              1
Noosh               1
Perry               1
Kenzie              1
Jangle              1
Maisey              1
Arya                1
Tanner              1
Spark               1
Dewey               1
Pete                1
Mingus              1
Pinot               1
Gustaf              1
Snoop               1
Ziva                1
Covach              1
Wishes              1
Brutus              1
Lacy                1
Daniel              1
Aiden               1
Freddery            1
unacceptable        1
Patch               1
Jimbo               1
Jett                1
Chef                1
Leonidas            1
Severus             1
Stefan              1
Mojo                1
Bayley              1
Rinna               1
Fabio               1
Jeffri              1
Kuyu                1
Bloop               1
Banditt             1
Cuddles             1
Josep               1
Theo                1
Glenn               1
Sprout              1
Aja                 1
Chloe               1
Combo               1
Taco                1
Karma               1
Ron                 1
Ridley              1
Hero                1
Maxwell             1
Divine              1
William             1
Major               1
Rizzo               1
Harry               1
Molly               1
Wesley              1
Billy               1
Yoda                1
Florence            1
Shnuggles           1
Alexanderson        1
Blakely             1
Coopson             1
Apollo              1
Aubie               1
Ember               1
Tupawc              1
Pippin              1
Shawwn              1
Jonah               1
Stark               1
Vince               1
Kane                1
Donny               1
Alfy                1
Franq               1
Claude              1
Jameson             1
Kirk                1
Buckley             1
Dunkin              1
Mookie              1
Clifford            1
Amber               1
Mary                1
Oreo                1
Bodie               1
Ferg                1
Jeffrie             1
Teddy               1
Ed                  1
Tommy               1
Beya                1
Anthony             1
Jordy               1
Juckson             1
Carll               1
Mosby               1
Eazy                1
Fido                1
Oddie               1
Duddles             1
Kramer              1
Sully               1
Mabel               1
life                1
Izzy                1
Suki                1
Loomis              1
Danny               1
Rupert              1
Remy                1
Gerbald             1
Vinscent            1
Blipson             1
Zara                1
Strider             1
Kingsley            1
Evy                 1
Cal                 1
Timber              1
Brandonald          1
Ronduh              1
Colin               1
Kollin              1
Rilo                1
Petrick             1
Darla               1
Grey                1
Walker              1
Maude               1
Terrenth            1
Ronnie              1
Bertson             1
Harlso              1
Brownie             1
Jazzy               1
Sprinkles           1
Geno                1
Rontu               1
Sora                1
Tassy               1
Mauve               1
Kloey               1
Jebberson           1
Eevee               1
Blue                1
Beemo               1
Lorelei             1
Olaf                1
Duchess             1
Saydee              1
Deacon              1
Pilot               1
Tycho               1
Kathmandu           1
Gunner              1
Toffee              1
Ralphy              1
Bonaparte           1
Kendall             1
Geoff               1
Dante               1
Lambeau             1
Brandi              1
Mya                 1
Angel               1
Kevon               1
Cecil               1
Fiji                1
Hanz                1
Champ               1
Wiggles             1
Zooey               1
Superpup            1
Durg                1
Dale                1
Karll               1
Cheesy              1
Dutch               1
Jeb                 1
Lizzie              1
Roscoe              1
Kaiya               1
Benny               1
Pubert              1
Akumi               1
Jo                  1
Schnitzel           1
Einstein            1
Gabby               1
Milky               1
Lupe                1
Stu                 1
Robin               1
Murphy              1
his                 1
Jomathan            1
Pip                 1
Eugene              1
Taz                 1
Barclay             1
Bauer               1
Trigger             1
Brudge              1
Herb                1
Willow              1
Sage                1
Tove                1
Meatball            1
space               1
Stella              1
Chase               1
incredibly          1
Meera               1
Winifred            1
Gustav              1
Griswold            1
Longfellow          1
Comet               1
Link                1
Richie              1
Pavlov              1
Ito                 1

In [180]:
dog_tweets.name[dog_tweets.name.str.len() <= 2].value_counts()

a     55
Bo     9
an     7
Ed     1
O      1
Al     1
Mo     1
Jo     1
my     1
JD     1
by     1
Name: name, dtype: int64

* Make all names Title case
* Name like a, an, by, the, not, O, officially, all, just, very, one, quite, mad, this, my looks odd. We have to clean them.

#### Check for tidiness (structural issues)
* In `dog_tweets` dataframe, there are information about tweet and also about dog ratings and its breed. We should make 2 different dataframe for those.
* In `dog_prediction` there are variables in a column name `p1`, `p2` and `p3`. we should melt them.

* To summarize,
    - In `dog_tweets` dataframe,
        - We need to convert data type of `timestamp` and `retweeted_status_timestamp` to datetime
        - Drop `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`
        - Clean `source` columns to designate proper source of the tweet
        - Clean `name`.
        - Properly denote null values for `name`, `doggo`, `floofer`, `pupper`, `puppo`.
        - Handle `rating_denominator` and `rating_numerator` bad values.
        - Get rid of records which has multiple dog age type.
        - Separate tweet data and ranking data
        - Melt dog type to single column `types`
    - In `dog_prediction` dataframe, 
        - Melt dataframe

# Clean data

In [143]:
dog_prediction_cleaned = dog_prediction.copy(deep=True)
retweet_like_cleaned = retweet_like.copy(deep=True)

#### Properly denote null values for `name`, `doggo`, `floofer`, `pupper`, `puppo`
* Let's directly mention it as `na_values` in `read_csv` function when we read it.

In [144]:
dog_tweets_cleaned = pd.read_csv("data/twitter-archive-enhanced.csv", na_values = 'None')

In [145]:
dog_tweets_cleaned.name.isna().sum()

745

In [146]:
dog_tweets_cleaned.doggo.isna().sum()

2259

In [147]:
dog_tweets_cleaned.floofer.isna().sum()

2346

In [148]:
dog_tweets_cleaned.pupper.isna().sum()

2099

In [149]:
dog_tweets_cleaned.puppo.isna().sum()

2326

In [150]:
dog_tweets_cleaned.puppo.value_counts(dropna=False)

NaN      2326
puppo      30
Name: puppo, dtype: int64

In [152]:
dog_tweets_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          1611 non-null object
doggo                         97 non-null object
floofer                       10 non-null object
pupper                        257 non-null object
puppo                         30 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

#### Convert data type of `timestamp` and `retweeted_status_timestamp` to datetime

In [153]:
dog_tweets_cleaned.timestamp = pd.to_datetime(dog_tweets_cleaned.timestamp)

In [154]:
dog_tweets_cleaned.timestamp.isna().sum()

0

In [155]:
dog_tweets_cleaned.retweeted_status_timestamp.isna().sum()

2175

In [156]:
dog_tweets_cleaned.retweeted_status_timestamp = pd.to_datetime(dog_tweets_cleaned.retweeted_status_timestamp)

In [157]:
dog_tweets_cleaned.retweeted_status_timestamp.isna().sum()

2175

In [158]:
dog_tweets_cleaned.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,NaN,NaN,NaN

In [159]:
dog_tweets_cleaned[['timestamp', 'retweeted_status_timestamp']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 2 columns):
timestamp                     2356 non-null datetime64[ns]
retweeted_status_timestamp    181 non-null datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 36.9 KB

####  Drop `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, and `retweeted_status_timestamp`

In [160]:
dog_tweets_cleaned.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], inplace=True, axis=1)

In [161]:
dog_tweets_cleaned.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')

#### Clean `source` columns to designate proper source of the tweet

In [162]:
dog_tweets_cleaned.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [163]:
mapping = {'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>':"IPhone", 
           '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>':"Vine",
           '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>':"Web Client",
           '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>':"TweetDeck"}
dog_tweets_cleaned.source = dog_tweets_cleaned.source.map(mapping)

In [164]:
dog_tweets_cleaned.source.value_counts()

IPhone        2221
Vine            91
Web Client      33
TweetDeck       11
Name: source, dtype: int64

#### Clean `name`

In [166]:
dog_tweets_cleaned.name = dog_tweets_cleaned.name.str.title()

In [169]:
dog_tweets_cleaned.name.value_counts(dropna=False)

NaN               745
A                  55
Charlie            12
Oliver             11
Lucy               11
Cooper             11
Penny              10
Lola               10
Tucker             10
Winston             9
Bo                  9
The                 8
Sadie               8
Bailey              7
An                  7
Daisy               7
Toby                7
Buddy               7
Rusty               6
Jack                6
Koda                6
Jax                 6
Leo                 6
Oscar               6
Dave                6
Bella               6
Stanley             6
Milo                6
Scout               6
Finn                5
Sammy               5
Larry               5
Oakley              5
Sunny               5
Phil                5
George              5
Louis               5
Chester             5
Gus                 5
Very                5
Alfie               5
Bentley             5
Jeffrey             4
Maximus             4
Riley               4
Just                4
One                 4
Chip                4
Scooter             4
Sophie              4
Boomer              4
Maddie              4
Jerry               4
Clarence            4
Reggie              4
Hank                4
Ruby                4
Sampson             4
Cassie              4
Beau                4
Walter              4
Carl                4
Dexter              4
Gerald              4
Quite               4
Shadow              4
Reginald            4
Archie              4
Bear                4
Duke                4
Luna                4
Loki                4
Winnie              4
Maggie              4
Derek               4
Bruce               4
Gary                4
Brody               4
Moose               4
Clark               4
Samson              3
Zoey                3
Doug                3
Coco                3
Wallace             3
Sebastian           3
Vincent             3
Waffles             3
Reese               3
Otis                3
Max                 3
Ellie               3
Wilson              3
Peaches             3
Lorenzo             3
Zeke                3
Louie               3
Gizmo               3
Malcolm             3
Rosie               3
Jimothy             3
Lily                3
Earl                3
Klevin              3
Wyatt               3
Olive               3
Ted                 3
Frankie             3
Steven              3
Calvin              3
Kyle                3
Arnie               3
Paisley             3
Rory                3
Nala                3
Mia                 3
Colby               3
Atlas               2
Eli                 2
Moe                 2
Sarge               2
Curtis              2
Sugar               2
Rubio               2
Alice               2
Percy               2
Jamesy              2
Baxter              2
Sansa               2
Franklin            2
Kreggory            2
Eve                 2
Terrance            2
Phineas             2
Solomon             2
Herald              2
Jiminy              2
Piper               2
Frank               2
Axel                2
Kirby               2
Dawn                2
Oshie               2
Lilly               2
Keith               2
Kenny               2
Nelly               2
Kevin               2
Levi                2
Leela               2
Baloo               2
Jackson             2
Pippa               2
Coops               2
Raymond             2
Jesse               2
Remington           2
Carly               2
Bernie              2
Fizz                2
Terry               2
Jimison             2
Bubbles             2
Hunter              2
Crystal             2
Fl√°vio              2
Penelope            2
Benji               2
Phred               2
Fiona               2
Chipson             2
Dakota              2
Misty               2
Theodore            2
Stephan             2
Ash                 2
Klein               2
Canela              2
Harold              2
Stubert             2
Olivi√©r             2
Pipsy               2
Butter              2
Trooper             2
Benedict            2
Tyrone              2
Chompsky            2
Moreton             2
Keurig              2
Cash                2
Griffin             2
Finley              2
Calbert             2
Rizzy               2
Lenny               2
Smokey              2
Rufus               2
Betty               2
Sierra              2
Quinn               2
Rocco               2
Paull               2
Davey               2
Patrick             2
Panda               2
Opal                2
Linda               2
Kenneth             2
Olivia              2
Happy               2
Chuckles            2
Hobbes              2
Odie                2
Balto               2
Yogi                2
Albus               2
Juno                2
Cece                2
Not                 2
Actually            2
Timison             2
Chet                2
Maxaroni            2
Atticus             2
Kreg                2
Philbert            2
Doc                 2
Elliot              2
Blitz               2
Mad                 2
Churlie             2
Lou                 2
Anakin              2
Ozzy                2
Sam                 2
Neptune             2
Marley              2
Roosevelt           2
Ava                 2
Cupcake             2
Bisquick            2
Fred                2
Lincoln             2
Emmy                2
Lennon              2
Hercules            2
Pickles             2
Gidget              2
Ollie               2
Hammond             2
Sandy               2
Brad                2
Layla               2
Logan               2
Getting             2
Mattie              2
Charles             2
Belle               2
Harper              2
Aspen               2
Tyr                 2
Indie               2
Gabe                2
Abby                2
Astrid              2
Chelsea             2
Seamus              2
Bell                2
Romeo               2
Jeph                2
Bungalo             2
Nollie              2
Mister              2
Thumas              2
Gromit              2
Meyer               2
Titan               2
Kyro                2
Herschel            2
Luca                2
Watson              2
Wally               2
Django              2
Cody                2
Dash                2
Herm                2
Cali                2
Shaggy              2
Pablo               2
Bob                 2
Rocky               2
Hurley              2
Kilo                2
Albert              2
Ken                 2
Schnozz             1
Tug                 1
Beckham             1
Mona                1
Jareld              1
Arnold              1
Jockson             1
Jersey              1
Ralphie             1
Kanu                1
Fynn                1
Damon               1
Bluebert            1
Chuck               1
Derby               1
Newt                1
Mason               1
Millie              1
Nigel               1
Dotsy               1
Crawford            1
Cannon              1
Zoe                 1
Chuq                1
Emanuel             1
Jay                 1
Tebow               1
Venti               1
Eriq                1
Koko                1
Fillup              1
Kayla               1
Furzey              1
Tuck                1
Dixie               1
Ole                 1
Duchess             1
O                   1
Stewie              1
Buckley             1
Gilbert             1
Opie                1
Ben                 1
Mitch               1
Kota                1
Banjo               1
Coleman             1
Billl               1
Autumn              1
Ralpher             1
Margo               1
Lucky               1
Brian               1
Kial                1
Flurpson            1
Carper              1
Sobe                1
Thor                1
Halo                1
Cermet              1
Puff                1
Kara                1
Mack                1
Al                  1
Hamrick             1
Ruffles             1
Malikai             1
Filup               1
Emmie               1
Snicku              1
Shooter             1
Tedders             1
Jim                 1
Bert                1
Chubbs              1
Stormy              1
Crumpet             1
Smiley              1
Huxley              1
Ester               1
Zeek                1
Kulet               1
Shelby              1
Goose               1
Ike                 1
Tilly               1
Jessifer            1
Bradley             1
Katie               1
Infuriating         1
Carll               1
Jiminus             1
Willow              1
Carbon              1
Grizz               1
Crouton             1
Nida                1
Henry               1
Linus               1
Maks                1
Corey               1
Sephie              1
Ralph√©              1
Lili                1
Andru               1
Dot                 1
Chaz                1
Aldrick             1
Nico                1
Ivar                1
Finnegus            1
Cora                1
Humphrey            1
Sailor              1
Charleson           1
All                 1
Ralphson            1
Simba               1
Traviss             1
Kaia                1
Baron               1
Rodney              1
Dylan               1
Willie              1
Nugget              1
Andy                1
Arlen               1
Olaf                1
Alejandro           1
Sojourner           1
Poppy               1
Strudel             1
Zeus                1
Fletcher            1
Aqua                1
Staniel             1
Bowie               1
Dido                1
Rover               1
Bloo                1
Pawnd               1
Lilah               1
Edmund              1
Joshwa              1
Eleanor             1
Trevith             1
Rhino               1
Marvin              1
Snickers            1
Jarod               1
Maya                1
General             1
Sunshine            1
Ralf                1
Trip                1
Diogi               1
Mimosa              1
Joey                1
Zuzu                1
Chesney             1
Blu                 1
Jazz                1
Sky                 1
Timofy              1
Jennifur            1
Ozzie               1
Clyde               1
Striker             1
Skittle             1
Obi                 1
Cheryl              1
Monster             1
Cedrick             1
Lenox               1
Tito                1
Monty               1
Chadrick            1
Antony              1
Willy               1
Harrison            1
Ginger              1
Howie               1
Link                1
Horace              1
Tess                1
Carter              1
Rolf                1
Crimson             1
Fr√∂nq               1
Mark                1
Rodman              1
Holly               1
Bronte              1
Bobbay              1
Bode                1
Edd                 1
Mo                  1
Brooks              1
Dug                 1
Todo                1
Goliath             1
Julius              1
Tedrick             1
Sprout              1
Tino                1
Huck                1
Tater               1
Am√©lie              1
Nimbus              1
Rudy                1
Swagger             1
Fwed                1
Karl                1
Raphael             1
Skye                1
Ulysses             1
Vinnie              1
Space               1
Glacier             1
Clarkus             1
Ralphus             1
Callie              1
Lolo                1
Norman              1
Luther              1
Jd                  1
Philippe            1
Anna                1
Mike                1
Jeremy              1
Alexander           1
Dudley              1
Shakespeare         1
Ashleigh            1
Lilli               1
Bebe                1
Livvie              1
Jackie              1
River               1
Monkey              1
Doobert             1
Mac                 1
Flash               1
Marty               1
Rooney              1
Dobby               1
Moofasa             1
Jerome              1
Kellogg             1
Kallie              1
Lugan               1
William             1
Rorie               1
Shikha              1
Buddah              1
Barney              1
Rose                1
Lulu                1
Snoopy              1
Heinrich            1
Such                1
Biden               1
Sailer              1
Reptar              1
Tonks               1
Brockly             1
Lucia               1
Binky               1
Rascal              1
Peanut              1
Shiloh              1
Lassie              1
Kody                1
Lorelei             1
Chevy               1
Sweet               1
Barry               1
Bobb                1
Cupid               1
Siba                1
Bookstore           1
Pumpkin             1
Steve               1
Dallas              1
Caryl               1
Bruiser             1
Vixen               1
Ralph               1
Tayzie              1
Liam                1
Sid                 1
Grizzie             1
Pepper              1
Cleopatricia        1
Asher               1
Obie                1
Cilantro            1
Storkson            1
Yukon               1
Miley               1
Samsom              1
Brat                1
Rumble              1
Dook                1
Clybe               1
Rufio               1
Dex                 1
Tripp               1
Hector              1
Jessiga             1
Grizzwald           1
Napolean            1
Hazel               1
Blanket             1
Travis              1
Adele               1
Rambo               1
Beebop              1
Bubba               1
Ace                 1
Bobby               1
Wafer               1
Ebby                1
Brandy              1
Berb                1
Iroh                1
Farfle              1
Erik                1
Pupcasso            1
Ricky               1
Leonard             1
Jaspers             1
Mutt                1
Mollie              1
Pherb               1
Jed                 1
Charl               1
Chesterson          1
Tessa               1
Gin                 1
Tobi                1
Stephanus           1
Miguel              1
Odin                1
Clarq               1
Life                1
Genevieve           1
Butters             1
Lillie              1
Spanky              1
Unacceptable        1
Laela               1
Grady               1
Noah                1
Tyrus               1
Kawhi               1
Georgie             1
Torque              1
Tom                 1
Pancake             1
Gert                1
Julio               1
Christoper          1
Rey                 1
Edgar               1
Arlo                1
Reagan              1
Godi                1
Stuart              1
Kona                1
Bilbo               1
Rizzo               1
Major               1
Pete                1
Dewey               1
Birf                1
Tuco                1
Sweets              1
Hermione            1
Sandra              1
Tiger               1
Creg                1
Marq                1
By                  1
Dietrich            1
Amy                 1
Harvey              1
Noosh               1
Perry               1
Kenzie              1
Jangle              1
Maisey              1
Arya                1
Tanner              1
Mingus              1
Bayley              1
Mojo                1
Daniel              1
Dondon              1
Gustaf              1
Snoop               1
Ziva                1
Karll               1
Covach              1
Wishes              1
Brutus              1
Lacy                1
Harnold             1
Stefan              1
Aiden               1
Pinot               1
Freddery            1
Patch               1
Jimbo               1
Jett                1
Chef                1
Leonidas            1
Severus             1
Spark               1
Rinna               1
Fabio               1
Aja                 1
Harry               1
Bloop               1
Banditt             1
Cuddles             1
Josep               1
Theo                1
Light               1
Glenn               1
Enchilada           1
Chloe               1
Molly               1
Kuyu                1
Combo               1
Karma               1
Ron                 1
Ridley              1
Hero                1
Maxwell             1
Divine              1
Skittles            1
Taco                1
Pippin              1
Jeffri              1
Aubie               1
Wesley              1
Yoda                1
Florence            1
Shnuggles           1
Alexanderson        1
Blakely             1
His                 1
Coopson             1
Apollo              1
Ember               1
Claude              1
Billy               1
Tupawc              1
Shawwn              1
Stark               1
Vince               1
Kane                1
Donny               1
Alfy                1
Franq               1
Lipton              1
Jaycob              1
Beemo               1
Dunkin              1
Clifford            1
Amber               1
Mary                1
Oreo                1
Bodie               1
Ferg                1
Dayz                1
Jeffrie             1
Teddy               1
Beya                1
Tommy               1
Dwight              1
Anthony             1
Jordy               1
Juckson             1
Orion               1
Mosby               1
Eazy                1
Fido                1
Oddie               1
Duddles             1
Mookie              1
Kramer              1
Sully               1
Zara                1
Suki                1
Loomis              1
Danny               1
Rupert              1
Remy                1
Gerbald             1
Vinscent            1
Blipson             1
Pilot               1
Kingsley            1
Mabel               1
Evy                 1
Cal                 1
Timber              1
Brandonald          1
Ronduh              1
Colin               1
Kollin              1
Rilo                1
Strider             1
Petrick             1
Darla               1
Jameson             1
Walker              1
Saydee              1
Old                 1
Maude               1
Terrenth            1
My                  1
Ronnie              1
Bertson             1
Harlso              1
Brownie             1
Jazzy               1
Sprinkles           1
Geno                1
Rontu               1
Jonah               1
Sora                1
Tassy               1
Mauve               1
Kloey               1
Jebberson           1
Eevee               1
Blue                1
Deacon              1
Officially          1
Mya                 1
Tycho               1
Kathmandu           1
Gunner              1
Toffee              1
Ralphy              1
Bonaparte           1
Kendall             1
Geoff               1
Dante               1
Lambeau             1
Brandi              1
Superpup            1
Angel               1
Kevon               1
Cecil               1
Fiji                1
This                1
Hanz                1
Champ               1
Wiggles             1
Zooey               1
Izzy                1
Durg                1
Dale                1
Cheesy              1
Dutch               1
Jeb                 1
Lizzie              1
Roscoe              1
Kaiya               1
Benny               1
Pubert              1
Incredibly          1
Jo                  1
Schnitzel           1
Einstein            1
Gabby               1
Milky               1
Lupe                1
Stu                 1
Robin               1
Murphy              1
Jomathan            1
Pip                 1
Eugene              1
Spencer             1
Taz                 1
Barclay             1
Bauer               1
Stella              1
Rueben              1
Kirk                1
Grey                1
Brudge              1
Herb                1
Darrel              1
Sage                1
Tove                1
Meatball            1
Chase               1
Meera               1
Trigger             1
Winifred            1
Gustav              1
Griswold            1
Longfellow          1
Comet               1
Richie              1
Pavlov              1
Ito                 1

In [170]:
bad_name = ['A', 'An', 'By', 'The', 'Not', 'O', 'Officially', 'All', 'Just', 'Very', 'One', 'Quite', 'Mad', 'This', 'My', 'Old']

In [181]:
def cleanName(name):
    if name in bad_name:
        return None
    else:
        return name

In [182]:
dog_tweets_cleaned.name = dog_tweets_cleaned.name.apply(cleanName)

In [187]:
dog_tweets_cleaned.name.isna().sum()

842

#### Handle `rating_denominator` and `rating_numerator` bad values.

In [189]:
dog_tweets_cleaned.shape

(2356, 12)

In [206]:
dog_tweets_cleaned.rating_denominator[dog_tweets_cleaned.rating_denominator != 10].shape

(23,)

In [207]:
idx = dog_tweets_cleaned.rating_denominator[dog_tweets_cleaned.rating_denominator != 10].index

In [208]:
dog_tweets_cleaned.drop(idx, inplace=True)

In [209]:
dog_tweets_cleaned.shape

(2333, 12)

In [195]:
dog_tweets_cleaned.rating_numerator[dog_tweets_cleaned.rating_numerator > 20].shape

(24,)

In [201]:
dog_tweets_cleaned.rating_numerator[dog_tweets_cleaned.rating_numerator < 10].shape

(440,)

* Score is often more than 10/10. If we all these bad valued records, we will loose 20% of data. Let's keep it as it is, we will decide in future if we really need to handle it or not.

#### Get rid of records which has multiple dog age type.

In [220]:
mask = dog_tweets_cleaned[['doggo', 'pupper', 'floofer', 'puppo']].notnull()
mask = mask.sum(axis = 1)
idx = dog_tweets_cleaned[mask > 1].index

In [222]:
dog_tweets_cleaned.shape

(2333, 12)

In [223]:
dog_tweets_cleaned.drop(idx, inplace=True)

In [224]:
dog_tweets_cleaned.shape

(2319, 12)

### Separate tweet data and ranking data

In [225]:
dog_tweets_cleaned.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,IPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,2017-08-01 00:17:27,IPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,2017-07-31 00:18:03,IPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,2017-07-30 15:58:51,IPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,2017-07-29 16:00:24,IPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,NaN,NaN,NaN

In [229]:
dog_ratings = dog_tweets_cleaned.iloc[:, [0, 5, 6, 7, 8, 9, 10, 11]]

In [230]:
dog_ratings.head()

,tweet_id,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,12,10,Franklin,NaN,NaN,NaN,NaN

In [231]:
dog_tweets_cleaned = dog_tweets_cleaned.iloc[:, :5]

In [232]:
dog_tweets_cleaned.head()

,tweet_id,timestamp,source,text,expanded_urls
0,892420643555336193,2017-08-01 16:23:56,IPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...
1,892177421306343426,2017-08-01 00:17:27,IPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...
2,891815181378084864,2017-07-31 00:18:03,IPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...
3,891689557279858688,2017-07-30 15:58:51,IPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...
4,891327558926688256,2017-07-29 16:00:24,IPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...

#### Melt dog type to single column types